# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Compiled files
solutions/*/day1
solutions/*/day2
solutions/*/day3
solutions/*/day4
solutions/*/day5
solutions/*/day6
solutions/*/day7
solutions/*/day8
solutions/*/day9
solutions/*/day10
solutions/*/day11
solutions/*/day12
solutions/*/day13
solutions/*/day14
solutions/*/day15
solutions/*/day16
solutions/*/day17
solutions/*/day18
solutions/*/day19
solutions/*/day20
solutions/*/day21
solutions/*/day22
solutions/*/day23
solutions/*/day24
solutions/*/day25
